<form asp-action="PT2">
    <p>
        <label> Hệ số A: </label>
        <input type="text" name="a">
    </p>
    <p>
        <label>Hệ số B:</label>
        <input type="text" name="b">
    </p>
    <p>
        <label>Hệ số C:</label>
        <input type="text" name="c">
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>
<h3> @ViewBag.TB</h3>