<h2>Danh sách người dùng</h2>
<hr>
<table class="table border">
    <tr>
        <th>
            <label>Ma Sinh Vien</label>
        </th>
        <th>
            <label>Ten SInh Vien</label>dotnerd
        </th>
        <th>
            <label>Tuoi</label>
        </th>
    </tr>
    @foreach (var item in ViewData["Người Đung"] as List<Student>)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Password</td>
            <td>@item.NickName</td>
        </tr>
        
    }
</table>